
<table cellpadding="10">
	<tr>
		<th></th>
		<% Color.order(:id).each do |color| %>
		<th><%= color.name %></th>
		<% end %>
	</tr>
	<% Vehicle.order(:id).each do |vehicle| %>
		<tr>
			<th><%= vehicle.name %></th>
			<% Color.order(:id).each do |color| %>
				<td>
					<div style="background-color:<%= color.html_color_code %>">
						<img src="/images/<%= vehicle.image_filename %>">
					</div>
				</td>
			<% end %>
		</tr>
	<% end %>
</table>