<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
</ul>

<br>
<div class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  This box has a non-functioning X button to close it.
</div>

<table class="table">
 <tr>
  	<th>A</th> 
  	<th>B</th>
  </tr>
  <tr>
  	<th>A1</th>
  	<th>B1</th>
  </tr>
 <tr class="alert alert-warning">
 	<th>A2</th>
 	<th>B2</th>
 </tr>

</table>

<br>

<button type="button" class="btn btn-success">Green button</button>

<a class="btn btn-default" href="http://www.google.com">
  Link to google.com
</a>

<br>
<br>
<div class="row">
  <div class="col-md-6">This column is on the left half of the page.</div>
  <div class="col-md-6">This column is on the right half of the page</div>
</div>

<br>


  <span class="glyphicon glyphicon-fast-backward"> Rewind symbol</span>
  <br>
  <span class="glyphicon glyphicon-fast-forward"> Fast-forward symbol</span>





