<h1>UFO sightings</h1>


	<% UfoSighting.order(:id).each do |sighting| %>
	<h2>
		<a href="/sightings/<%= sighting.id %>">
			<%= sighting.when_seen %> in	<%= sighting.location %>
		</a>
	</h2>
	<% end %>
