<a href="/">Back to all sightings</a>

<h1>Sighting details</h1>

<p><b>When:</b> <%= @sighting.when_seen %></p>

<p><b>Where:</b> <%= @sighting.location %> </p>

<p><b>Description:</b> <%= @sighting.description %></p>

