<h1><%= @elements.name %></h1>

<div class="col-md-6">
	<h2>Description</h2>
	<p><%= @elements.description %></p>
</div>

<div class="col-md-6">
	<h2>Discovery</h2>
	<p><%= @elements.discovery_info %></p>
</div>