html {
  background-color: #eee;
}
body {
  margin: 20px auto;
  background-color: white;
  border: 3px #ccc solid;
  padding: 30px;
  font-family: "Walter Turncoat";
  font-size: 16pt;
}
@font-face {
	font-family: "Walter Turncoat";
	src: url("/fonts/WalterTurncoat.ttf");
}
h1 {
	font-family: "Walter Turncoat";
}