<h1>Example login screen</h1>

<table border="1">
	<tr>
		<td>Email address</td>
		<td><input size="20"></td>
    </tr>
    <tr>
    	<td>Password</td>
    	<td><input size="20"></td>
    </tr>
    <tr>
    	<td></td>
    	<td><button>Login</button></td>
    </tr>
<table>
	