<h1>World cities</h1>

<table class="table">
	<tr>
		<th>City name</th>
		<th>Country flag</th>
		<th>Time zone</th>
		<th>Population</th>
	</tr>

	<% WorldCity.order(:id).each do |city| %>
	
		<tr>
			<td><%= city.city_name %></td>
			<td><img src="/images/<%= city.country_flag_filename %>"></td>
			<td><%= city.time_zone %></td>
			<td><%= city.population %></td>
		</tr>

	<% end %>

</table>
