<h1>Index</h1>

<% paths = Dir.glob(File.expand_path('../views/*.html.erb', __FILE__)) %>
<% routes = paths.map { |path|
     File.split(path)[1].gsub(/\.html\.erb$/, '')
   } - [ 'index', '_layout'] %>

<% routes.each do |filename| %>
  <h2><%= link_to filename, filename %></h2>
<% end %>


      <a href="http://rubyonrails.org/">Overview</a> |
      <a href="http://rubyonrails.org/download">Download</a> |
      <a href="http://rubyonrails.org/deploy">Deploy</a> |
      <a href="https://github.com/rails/rails/issues">Bugs/Patches</a> |
      <a href="http://rubyonrails.org/screencasts">Screencasts</a> |
      <a href="/documentation">Documentation</a> |
      <a href="http://rubyonrails.org/community">Community</a> |
      <a href="http://weblog.rubyonrails.org/">Blog</a>

      <br>
      <br>

      <a href="http://weblog.rubyonrails.org/2013/6/25/Rails-4-0-final/">Rails 4.0: Final version released!</a>, <a href="http://weblog.rubyonrails.org/2013/7/23/Rails-3-2-14-has-been-released/">Rails 3.2.14 released!</a>, <a href="http://weblog.rubyonrails.org/2012/11/21/the-people-behind-rails-4/">The People Behind Rails 4</a>

      <br>

  <table>
    <tr>
      <td>
        <h3>Get Excited</h3>
        <p><a href="http://rubyonrails.org/screencasts">Screencasts</a></p>
      </td>
      <td>
        <h3>Get Started</h3>
        <p><a href="http://rubyonrails.org/download">4.0.0 released Jun 25, 2013</a></p>
      </td>
      <td>
        <h3>Get Better</h3>
        <p><a href="http://rubyonrails.org/documentation">API, Guides, Books</a></p>
      </td>
      <td>
        <h3>Get Involved</h3>
        <p><a href="http://rubyonrails.org/community">Join the community</a></p>
      </td>
    </tr>
  </table>

  <br>

<p>Ruby on Rails is a breakthrough in lowering the barriers of entry to programming.<br/>
    Powerful web applications that formerly might have taken weeks or months<br/>
    to develop can be produced in a matter of days.</p>
    <p>-Tim O'Reilly, Founder of O'Reilly Media</p>
    <p><a href = "http://rubyonrails.org/quotes">Read more quotes</a></p>

    <br>

 <h1>Who is already<br/>on Rails?</h1>

     <p>
    	Tens of thousands of Rails applications are already live. People are using Rails in the tiniest part-time operations to the biggest companies.
     </p>

     <br>

       <table>
    <tr>
      <td>
        <p><a href="http://www.basecamphq.com?source=rails">Basecamp</a>: The original Rails app.</p>
      </td>

      <td>
        <p><a href="http://www.twitter.com/">Twitter</a>: Stay connected.</p>
      </td>
    </tr>

    <tr>
      <td>
        <p><a href="http://www.github.com/">Github</a>: Git repo hosting.</p>
      </td>

      <td>
        <p><a href="http://www.groupon.com/">Groupon</a>: Daily deals.</p>
      </td>
    </tr>

    <tr>
      <td>
        <p><a href="http://www.shopify.com/">Shopify</a>: E-commerce made easy.</p>
      </td>

      <td>
        <p><a href="http://www.yellowpages.com/">Yellow Pages</a>: Find it locally.</p>
      </td>
    </tr>
  </table>

 <h1>Who is<br/>behind it?</h1>

<p>
    Rails was created in 2003 by <a href="http://david.heinemeierhansson.com/">David Heinemeier Hansson</a> and has since been extended by the <a href="/core">Rails core team</a>, <a href="http://contributors.rubyonrails.org">more than 3,100 contributors</a>.
  </p>

  <br>

  <p>
  	"Rails", "Ruby on Rails", and the Rails logo are registered trademarks of David Heinemeier Hansson. All rights reserved.
  </p>

  <p>
  	Rails is released under the <a href="http://www.opensource.org/licenses/mit-license.php">MIT license</a>. Ruby under the <a href="http://www.ruby-lang.org/en/LICENSE.txt">Ruby License</a>.
  </p>

  <p>
  	Sponsored by <a href="http://37signals.com/">37 Signals</a>
  </p>
  